[Unit]
Description=Innovate API
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill innovate_api-%i
ExecStartPre=-/usr/bin/docker rm innovate_api-%i
ExecStartPre=-/usr/bin/docker login -e="." -u="vspglobal+coreos" -p="3HFLP7F3RV3UTY9929TPQ2CGC4JSDRTL6BYZXUCRYYF1256XQXQ7LMBBYKQ0RCXD" quay.io
ExecStartPre=-/usr/bin/docker pull quay.io/vspglobal/innovate_service:v2.0
ExecStart=/usr/bin/docker run --rm -p %i:8080 --name innovate_api-%i quay.io/vspglobal/innovate_service:v2.0
ExecStop=/usr/bin/docker stop innovate_api-%i

#[X-Fleet]
#Global=true
